@model QLSNT.Models.LssnXa

@{
    ViewData["Title"] = "Chi tiết Lịch sử sáp nhập xã";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết Lịch sử sáp nhập xã</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">Mã LSSN xã</dt>
    <dd class="col-sm-9">@Model.MaLSSN</dd>

    <dt class="col-sm-3">Mã xã cũ</dt>
    <dd class="col-sm-9">@Model.MaXaCu</dd>

    <dt class="col-sm-3">Mã xã mới</dt>
    <dd class="col-sm-9">@Model.MaXaMoi</dd>

 
</dl>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.MaLSSN" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Quay lại</a>
</div>
