@model QLSNT.Models.QuanHeChuHo

@{
    ViewData["Title"] = "Xóa Quan hệ chủ hộ";
}

<h1>Xóa Quan hệ chủ hộ</h1>

<h4>Bạn có chắc chắn muốn xóa bản ghi sau?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-3">
        Mã quan hệ
    </dt>
    <dd class="col-sm-9">
        @Model.MaQHCH
    </dd>

    <dt class="col-sm-3">
        Tên quan hệ
    </dt>
    <dd class="col-sm-9">
        @Model.TenQHCH
    </dd>

    <dt class="col-sm-3">
        Mô tả
    </dt>
    <dd class="col-sm-9">
        @Model.MoTa
    </dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="MaQHCH" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Hủy</a>
</form>
