@model QLSNT.Models.TonGiao

@{
    ViewData["Title"] = "Chi tiết Tôn giáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết Tôn giáo</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">Mã tôn giáo</dt>
    <dd class="col-sm-9">@Model.MaTonGiao</dd>

    <dt class="col-sm-3">Tên tôn giáo</dt>
    <dd class="col-sm-9">@Model.TenTonGiao</dd>

    <dt class="col-sm-3">Ghi chú</dt>
    <dd class="col-sm-9">@Model.GhiChu</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.MaTonGiao" class="btn btn-warning">Sửa</a>
<a asp-action="Index" class="btn btn-secondary ms-2">Quay lại</a>
