@model QLSNT.Models.SuKienHanhChinh

@{
    ViewData["Title"] = "Thêm sự kiện hành chính";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="mb-3">
        <label asp-for="SoNghiDinh" class="form-label">Số Nghị Định</label>
        <input asp-for="SoNghiDinh" type="hidden" class="form-control" />
        <span asp-validation-for="SoNghiDinh" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TenSK" class="form-label">Tên Sự Kiện </label>
        <input asp-for="TenSK" class="form-control" />
        <span asp-validation-for="TenSK" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MoTaChiTiet" class="form-label">Mô Tả Chi Tiết</label>
        <textarea asp-for="MoTaChiTiet" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="CanCuPhapLy" class="form-label">Căn Cứ Pháp Lý</label>
        <input asp-for="CanCuPhapLy" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="CoQuanBanHanh" class="form-label">Cơ Quan Ban Hành</label>
        <input asp-for="CoQuanBanHanh" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="NgayBanHanh" class="form-label">Ngày Ban Hành</label>
        <input asp-for="NgayBanHanh" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="TrangThai" class="form-label">Trạng Thái</label>
        <select asp-for="TrangThai" class="form-select">
            <option value="">-- Chọn trạng thái --</option>
            <option value="Hiệu lực">Hiệu lực</option>
            <option value="Hết hiệu lực">Hết hiệu lực</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="GhiChu" class="form-label">Ghi Chú</label>
        <textarea asp-for="GhiChu" class="form-control"></textarea>
    </div>

    
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
